{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock %}

<!--you use command line for password confirmation link, you also use sendgrid website for send the email, and you have to set configuration on settings.py file  -->

<!--in password_reset_email.html file, i18n means this text is eligible to be translated multiple languages, in linke(django build in password reset confirm link),this code is almost same as django build in password reset email code in there github.If you try to
 find out the code then search django on github then search "you're receiving this email because", then you find password_reset_email.html
 file.Then change source code and copy here.
 The use of password_reset_text file is when the confirmation link given in command line then shows the "subject:Please reset your password" which one
 you store in password_reset_subject.txt file

 -->