{% extends 'base.html' %}

{% block title %}Password Change {% endblock %}
{% block content %}
<!--password change done is build in django,you don't need to create view,u r l  for this,the template is automatically receive templates/registration/url name(like passwrod_change or login or logout) -->
<h1>Password change</h1>
<p>Please enter your old password, for security's sake,and then your new password twice so we can verify you type it in correctly</p>
<!--after successfully password_change u r l works then it automatically redirect to password_change_done u r l -->
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}    <!--form is came from build in django for password change -->
    <input class="btn btn-success" type="submit" value="Change my password">
</form>

{% endblock %}